<button
  type="button"
  pButton
  pRipple
  label="Back"
  class="p-button-text p-button-rounded"
  icon="pi pi-chevron-left"
  (click)="goToSprint()"
></button>
<p-table
  [value]="sprintUserStories"
  dataKey="Name"
  rowExpandMode="single"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th>Name</th>
      <th>Assigned User</th>
      <th>Story Points</th>
      <th>Priority</th>
      <th>Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-userStory let-rowIndex="rowIndex">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          class="p-button-text p-button-rounded p-button-plain"
          icon="pi pi-chevron-down"
          (click)="rowSelected(rowIndex, userStory)"
        ></button>
      </td>
      <td>{{ userStory.name }}</td>
      <td>{{ userStory.assignedUser }}</td>
      <td>{{ userStory.storyPoints }}</td>
      <td>
        {{ userStory.priority }}
      </td>
      <td>{{ userStory.status }}</td>
    </tr>
    <tr *ngIf="selectedRowNumber === rowIndex">
      <td colspan="5">
        <div class="grid">
          <div class="col-10">
            <strong>Acceptance Criteria : </strong
            >{{ selectedUserStory.acceptanceCriteria }}
          </div>
          <div class="col-2">
            <div class="grid">
              <div class="col-12">
                <strong>Consumed Effort : </strong
                >{{ selectedUserStory.consumedEfforts }}
              </div>
              <div class="col-12">
                <strong>Estimated Effort : </strong
                >{{ selectedUserStory.estimatedEfforts }}
              </div>
              <div class="col-12">
                <strong>Remaining Effort : </strong
                >{{ selectedUserStory.remainingEfforts }}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
