<div>
    <h5>Subtasks For User-Story {{userStoryId}}</h5>

    <p-table>
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Estimated Efforts</th>
                <th>Consumed Efforts</th>
                <th>Remaining Efforts</th>
                <th>Assigned User</th>
                <th>Status</th>
                <th>Update</th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body">
            <tr *ngFor="let s of subTaskDetails">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.estimatedEfforts}}</td>
                <td>{{s.consumedEfforts}}</td>
                <td>{{s.remainingEfforts}}</td>
                <td>{{s.assignedUser}}</td>
                <td>{{s.status}}</td>
                <td>
                    <button pButton pRipple type="button" label="Update"
                    (click)="updateSubtask(s.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <button pButton pRipple type="button" label="Create SubTask"
    (click)="createSubTaskPopupModal()"></button>
</div>

<p-dialog header ="Create SubTask" [(visible)]="showCreateSubTaskPoup" [style]="{height:'60vh',width:'40vw-'}"
[modal]="true">
<div class="grid">
    <div class="col">
        <input id="name" type="text" pInputText [(ngModel)]="newSubTaskDetails.name"
        placeholder="Sprint Name">
    </div>
    <div class="col">
        <input id="eEfforts" type="number" pInputNumber [(ngModel)]="newSubTaskDetails.estimatedEfforts"
        placeholder="Estimated Efforts">
    </div>
    <div class="col">
        <input id="cEfforts" type="number" pInputNumber [(ngModel)]="newSubTaskDetails.consumedEfforts"
        placeholder="Consumed Efforts">
    </div>
    <div class="col">
        <input id="rEfforts" type="number" pInputNumber [(ngModel)]="newSubTaskDetails.remainingEfforts"
        placeholder="Remaining Efforts">
    </div>
    <div class="col">
        <p-dropdown id="pAssignedUser" [options]="assignedUsers" [(ngModel)]="newSubTaskDetails.assignedUser">
    </p-dropdown>
    </div>
    <div class="col">
        <p-dropdown id="pPriority" [options]="status" [(ngModel)]="newSubTaskDetails.status">
    </p-dropdown>
    </div>
    <div class="col">
       <p-button icon="pi pi-plus" (click)="createSubTask(newSubTaskDetails,userStoryId,ProjectId)" label ="Create" styleClass="p-button-text">
     </p-button>      
    </div>
</div>
</p-dialog>