<div class="grid">
  <!-- <div class="col-12">
        <div class="col">
            <input type="text" pInputText placeholder="Title" [(ngModel)]="title" />
        </div>
        <div class="col">
            <input type="text" pInputText placeholder="Description" [(ngModel)]="description" />
        </div>
        <div class="col">
            <p-dropdown [options]="statuses" [(ngModel)]="selectedStatus" optionLabel="name"></p-dropdown>
        </div>
        <div class="col">
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-secondary" pTooltip="Add New Task"
                tooltipPosition="top" (click)="createCard()"></button>
        </div>
    </div> -->
  <div class="col-3">
    <p-card> Defined </p-card>
  </div>
  <div class="col-3">
    <p-card> In Progress </p-card>
  </div>
  <div class="col-3">
    <p-card> Done </p-card>
  </div>
  <div class="col-3">
    <p-card> Accepted </p-card>
  </div>
</div>
<div class="grid">
  <div class="col-3" id="DEFINED" pDroppable="task" (onDrop)="drop($event)">
    <div class="flex flex-column" *ngFor="let task of DEFINED">
      <app-task-card
        style="margin: 10px"
        [cardDetails]="task"
        pDraggable="task"
        (onDragStart)="dragStart(task)"
        (emittedCardDetails)="cardDetailsToRemove($event)"
      ></app-task-card>
    </div>
  </div>
  <div class="col-3" id="IN_PROGRESS" pDroppable="task" (onDrop)="drop($event)">
    <div class="flex flex-column" *ngFor="let task of IN_PROGRESS">
      <app-task-card
        style="margin: 10px"
        [cardDetails]="task"
        pDraggable="task"
        (onDragStart)="dragStart(task)"
        (emittedCardDetails)="cardDetailsToRemove($event)"
      ></app-task-card>
    </div>
  </div>
  <div class="col-3" id="DONE" pDroppable="task" (onDrop)="drop($event)">
    <div class="flex flex-column" *ngFor="let task of DONE">
      <app-task-card
        style="margin: 10px"
        [cardDetails]="task"
        pDraggable="task"
        (onDragStart)="dragStart(task)"
        (emittedCardDetails)="cardDetailsToRemove($event)"
      ></app-task-card>
    </div>
  </div>
  <div class="col-3" id="ACCEPTED" pDroppable="task" (onDrop)="drop($event)">
    <div class="flex flex-column" *ngFor="let task of ACCEPTED">
      <app-task-card
        style="margin: 10px"
        [cardDetails]="task"
        pDraggable="task"
        (onDragStart)="dragStart(task)"
        (emittedCardDetails)="cardDetailsToRemove($event)"
      ></app-task-card>
    </div>
  </div>
</div>
